title: StyLivJek
email: your-email@example.com
description: > # this means to ignore newlines until "baseurl:"
  StyLivJek, a jekyll configuration
baseurl: "/ventureretreat" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: jekyllrb
github_username:  jekyll

# Build settings
markdown: kramdown
# theme: minima
plugins:
  - jekyll-feed
  - hawkins
  - jekyll-babel
  - jekyll-minifier

stylus:
  compress: true
  path: css


# Exclude from processing.
exclude:
  - README.md
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - script
