--- 
layout: home 
--- 

{% assign past_events = site.tags.event %}
{% for post in site.tags.event limit: 1 %}
  {% assign current_event = post %}
{% endfor %}


<div class="general_destination" id="about"></div>
<div class="general__spacer">
</div>
<div class="scroll_reveal container">
  <div class="row">
    <div class="col-12">
      {% include components/headings.html big="THE RETREAT" small="A weekend to unplug and connect." %}
    </div>
  </div>
</div>


<div class="scroll_reveal container">
  <div class="row how-it-was">
    <div class="col-12 col-sm-5">
      <h2 class="title--second">Another conference?</h2>
      <p class="text">
        This is not a conference. It is a weekend in the mountains, with serious hiking and bunk bed sleeping.
      </p>
      <p class="text">
        It is an occasion to really deeply connect with fellow entrepreneurs and investors, but most of all to feel the pull of nature,
        enjoying the silence and solitude that you can only get by being in the middle of the mountains.
      </p>
    </div>
    <div class="col-12 col-sm-1">
    </div>
    <div class="col-12 col-sm-6">
      {% include components/quotes.html quote="We will spend 3 nights in the beautiful Dolomites, sleeping at 2,400m high up where
      you can only hear your own breath." %}
      <p class="text">
        The event is deliberately light in its schedule, to maximize the amount of time you can spend actually getting to know the
        other participants, as well as meditating with yourself.
      </p>
    </div>
  </div>
</div>

<div class="our-philosophy hidden-xs">
  <div class="container">
    <div class="general__spacer--big"></div>
    <div class="row">
      <div class="scroll_reveal col-12">
        {% include components/headings.html negative="true" big="OUR PHILOSOPHY" small="Your home for a weekend, in the mountains"
        %}
      </div>
    </div>
    <div class="general__spacer"></div>
    <div class="row hidden-mobile">
      {% for p in site.data.philosophies %}
      <div class="scroll_reveal col-12 col-sm-4 col-md-6 col-lg-4 col-xl-3">
        {% include components/card.html type="philosophies" title=p.title text=p.text img=p.image %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="our-philosophy hidden-sm hidden-md">
  <div class="col-12">
    {% include components/headings.html negative="true" big="OUR PHILOSOPHY" small="Your home for a weekend, in the mountains"
    %}
  </div>
  <div class="our-philosophy__mobile-leteral-scroll scroll_reveal">
    <div class="our-philosophy__mobile-leteral-scroll-content">
      {% for p in site.data.philosophies %} 
        {% include components/card.html type="philosophies" title=p.title text=p.text img=p.img %} 
      {% endfor %}
    </div>
  </div>
</div>


<div class="hike scroll_reveal">
  <div class="container">
    <h1 class="title--first--negative">THE HIKE</h1>
  </div>
  {% include components/hike.html %}
</div>

<div class="location">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 scroll_reveal">
        {% include components/headings.html big="THE LOCATION" small="A refuge, but with comfort" %}
        <p class="text">
          We have chosen the best of the best. The Tierser Alpl mountain refuge sits on top of Sieser Alm, which is the largest high-altitude
          Alpine meadow in Europe.
        </p>
        <p class="text">
          The refuge is an historic hut used by mountaineers for decades, but has been completely restored and remodeled into a marvel
          of wooden architecture.
        </p>
        {% include components/quotes.html quote="No need to bring a sleep bag, everything is ready for you. We also negotiated 1
        hot shower per day, per guest." %}
      </div>
      <div class="col-12 col-sm-6 hidden-xs scroll_reveal">
        {% include components/card.html type="location" title=current_event.title subtitle=current_event.location img=current_event.image
        altitude=current_event.caratteristics.altitude cooking=current_event.caratteristics.cooking beds=current_event.caratteristics.beds
        %}
      </div>
    </div>
  </div>
</div>

<div class="location hidden-sm hidden-md">
  {% include components/card.html type="location" title=current_event.title subtitle=current_event.location img=current_event.image
  altitude=current_event.caratteristics.altitude cooking=current_event.caratteristics.cooking beds=current_event.caratteristics.beds
  %}
</div>

<div class="carousel__home scroll_reveal">
  <div id="slider" class="carousel__home-slider_1">
    {% for image in current_event.gallery-small.image %}
      {% assign prev_i = forloop.index | minus: 1 %}
      <a data-fancybox="gallery" href="{{current_event.gallery-big.image[prev_i]}}" >
        <img src="{{ image }}" alt="">
      </a>
    {% endfor %}
  </div>
  <img class="carousel__home__mountain-profile" src="{{'/assets/img/mountain_profile_2.svg' | relative_url }}" alt="">
</div>


<div class="schedule" id="schedule">
  <div class="container scroll_reveal">
    <div class="row">
      <div class="col-12">
        {% include components/headings.html big="THE SCHEDULE" small="Your home for a weekend, in the mountains" %}
      </div>
      <div class="col-10 col-sm-6">
        <p class="text">
          We will meet at Monte Bianco to ski altogether and have fun and stuff, you know. Hi Stefano let’s do this website I know
          you want it!
        </p>
      </div>
    </div>
  </div>
  <div class="schedule__line-container">
    <div class="container">
      <div class="row schedule__line-date-element-sizer">
        {% for schedule in current_event.schedule %}
        <div class="
            schedule__line-date-element 
            general__noselect
            tabselector__{{forloop.index}}
            {% if forloop.last == false %}separator{% endif %}" onclick="displayScheduleTab('{{forloop.index}}')">
          DAY #{{forloop.index}}
          <br> {{schedule.day}}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="schedule__line-date-element-sizer--mobile">
      <ul class="line_background">
        {% for schedule in current_event.schedule %}
        <li class="schedule__line-date-element general__noselect tabselector__{{forloop.index}}" onclick="displayScheduleTab('{{forloop.index}}')">
          <p class="text--fat">DAY {{forloop.index}}</p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<div class="container schedule__tabs">
  {% for schedule in current_event.schedule %}
  <div class="tab__{{forloop.index}}">
    {% for program in schedule.program %}
    <div class="row element">
      <div class="col-12 col-sm-2">
        <p class="text--fat">{{program.time}}</p>
      </div>
      <div class="col-12 col-sm-10">
        <div class="row">
          <div class="col-12 col-sm-12">
            <p class="text--brown">{{program.what}}</p>
          </div>
          <div class="col-12 col-sm-12">
            <p class="text">{{program.description}}</p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>

<div class="speakers">
  <div class="container">
    <div class="row">
      <div class="col-12 scroll_reveal">
        {% include components/headings.html big="SPEAKERS" small="Amazing speakers for an amazing event" %}
      </div>
      <div class="col-12 speakers__pictures">
        <div class="row">
          {% for speaker in current_event.speakers %}
            <div class="col-sm-4 col-md-4 col-lg-3 scroll_reveal">
              <div class="speakers__pictures-card aspect_ratio--speakers">
                <img class="lazyload" data-src="{{speaker.image | replace:'http://localhost:4000', site.url}}" alt="">
                <div class="speakers__pictures-card-data">
                  <p class="speakers__pictures-card-data-name">{{speaker.name}}</p>
                  <p class="speakers__pictures-card-data-role">{{speaker.role}}</p>
                </div>
                <div class="img-overlay"></div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="speakers__pictures--mobile scroll_reveal">
    {% for speaker in current_event.speakers %}
      <div class="speakers__pictures-card aspect_ratio--speakers">
        <img class="lazyload" data-src="{{speaker.image | replace:'http://localhost:4000', site.url}}" alt="">
        <div class="speakers__pictures-card-data">
          <p class="speakers__pictures-card-data-name">{{speaker.name}}</p>
          <p class="speakers__pictures-card-data-role">{{speaker.role}}</p>
        </div>
        <div class="img-overlay"></div>
      </div>
    {% endfor %}
  </div>
</div>


<div class="attendees">
  <div class="container">
    <div class="row">
      <div class="col-12 scroll_reveal">
      {% include components/headings.html big="THE ATTENDEES" small="Amazing attendees" %}
      </div>
      <div class="col-12">
        <div class="row">
            {% for a in current_event.attendees %}
              <div class="col-6 col-sm-4 col-md-4 col-lg-3 scroll_reveal">
                <div class="attendees__pictures-card aspect_ratio--attendees">
                  <img class="lazyload" data-src="{{a.image | replace:'http://localhost:4000', site.url}}" alt="">
                </div>
              </div>
            {% endfor %}
          </div>
      </div>
    </div>
  </div>
</div>


<div class="organized">
  <div class="container">
    <div class="row">
      <div class="col-12 scroll_reveal">
        {% include components/headings.html big="ORGANIZED BY" small="The dream team of the event" %}
      </div>
      <div class="col-12">
        <div class="row">
          {% for o in current_event.organizers %}
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 scroll_reveal">
            <div class="organized__pictures-card aspect_ratio--organizers">
              <img class="lazyload" data-src="{{o.image | replace:'http://localhost:4000', site.url}}" alt="">
              <div class="organized__pictures-card-data">
                <p class="organized__pictures-card-data-name">{{o.name}}</p>
                <p class="organized__pictures-card-data-role">{{o.role}}</p>
              </div>
              <div class="img-overlay"></div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="general_destination" id="past_editions"></div>
<div class="past-editions">
  <div class="container">
    <div class="row">
      <div class="col-12 scroll_reveal">
        {% include components/headings.html big="PAST EDITIONS" small="Overview of previous editions" %}
      </div>
      <div class="col-12 past-editions__pictures">
        <div class="row">
          {% for o in past_events %}
            {% unless forloop.first %}
              <div class="col-12 col-sm-6 col-md-6 col-lg-4 scroll_reveal">
                <a href="{{site.baseurl}}{{ o.url }}">
                  <div class="past-editions__pictures-card aspect_ratio--past_editions">
                    <img class="lazyload" data-src="{{o.past_edition.image | replace:'http://localhost:4000', site.url}}" alt="">
                    <div class="past-editions__pictures-card-data">
                      <p class="past-editions__pictures-card-data-name">{{o.title}}</p>
                      <p class="past-editions__pictures-card-data-role">{{o.past_edition.period}}</p>
                    </div>
                    <div class="img-overlay"></div>
                  </div>
                </a>
              </div>
            {% endunless %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="past-editions__pictures--mobile scroll_reveal">
    {% for o in past_events %}
      {% unless forloop.first %}
        <a href="{{site.baseurl}}{{ o.url }}">
          <div class="past-editions__pictures-card aspect_ratio--past_editions">
            <img class="lazyload" data-src="{{'/assets/img/edition_cards/' | relative_url }}{{o.past_edition.pic}}" alt="">
            <div class="past-editions__pictures-card-data">
              <p class="past-editions__pictures-card-data-name">{{o.title}}</p>
              <p class="past-editions__pictures-card-data-role">{{o.past_edition.period}}</p>
            </div>
            <div class="img-overlay"></div>
          </div>
        </a>
      {% endunless %}
    {% endfor %}
  </div>
</div>