--- 
layout: home 
---

<div class="general__spacer">
</div>
<div class="row">
  <div class="col-12">
    {% include components/headings.html big="HOW WAS IT?" small="A weekend to unplug and connect." %}
  </div>
</div>

<div class="row how-it-was">
  <div class="col-5">
    <h2 class="title--second">Another conference?</h2>
    <p class="text">
      This is not a conference. It is a weekend in the mountains, with serious hiking and bunk bed sleeping.
    </p>
    <p class="text">
      It is an occasion to really deeply connect with fellow entrepreneurs and investors, but most of all to feel the pull of nature,
      enjoying the silence and solitude that you can only get by being in the middle of the mountains.
    </p>
  </div>
  <div class="col-1">
  </div>
  <div class="col-6">
    {% include components/quotes.html quote="We will spend 3 nights in the beautiful Dolomites, sleeping at 2,400m high up where
    you can only hear your own breath." %}
    <p class="text">
      The event is deliberately light in its schedule, to maximize the amount of time you can spend actually getting to know the
      other participants, as well as meditating with yourself.
    </p>
  </div>
</div>

<div class="row our-philosophy"></div>