@media (min-width: 320px)
  .attendees
    position: relative
    z-index: 2

    .container
      padding-left: 40px
      padding-right: 40px

    .attendees__pictures
      display: none

    .attendees__pictures-card
      background-color: $background-grey
      border-radius: 8px
      margin-top: 24px
      overflow: hidden
      position: relative

      img
        display: table
        margin: 0 auto
        padding: 34px 0
        width: 72%

@media (min-width: 768px)
  .attendees
    .container
      padding-left: 15px
      padding-right: 15px

    .attendees__pictures
      display: block
      margin-top: 12px

    .attendees__pictures-card
      background-color: $background-grey
      border-radius: 8px
      margin-top: 24px
      overflow: hidden
      position: relative

      img
        display: table
        margin: 0 auto
        padding: 34px 0

    .attendees__pictures-card-data
      bottom: 16px
      color: white
      left: 16px
      position: absolute
      width: 100%
      z-index: 2

    .attendees__pictures-card-data-name
      font-size: 18px
      font-weight: 700
      line-height: 24px
      margin-bottom: 0

    .attendees__pictures-card-data-role
      font-size: 16px
      font-weight: 500
      line-height: 20px