@media (min-width: 320px)
  .location
    margin-top: 100px

    .container
      padding-left: 40px
      padding-right: 40px

    .card__header
      height: 56%

    .card__body
      padding: 5px 15px
      text-align: center

    .card__header--title
      bottom: 50px
      font-size: 26px
      font-weight: 500
      letter-spacing: 1px

    .title--second
      font-size: 12px
      margin-bottom: 0
      margin-top: 8px

  .location__column-separator
    border-right: 1px solid #EAEAEA
    display: block
    height: 100%
    padding-bottom: 22px

  .location__carateristics
    img
      display: table
      margin: 0 auto
      margin-top: 25px

@media (min-width: 768px)
  .location
    .container
      padding-left: 15px
      padding-right: 15px

  .card__location
    height: 450px

@media (min-width: 1024px)
  .location
    .title--second
      font-size: 20px

  .card__location
    height: 490px

@media (min-width: 1600px)
  .location
    .title--second
      font-size: 20px