@media (min-width: 320px)
  .organized
    position: relative
    z-index: 2

    .container
      padding-left: 40px
      padding-right: 40px

    .organized__pictures
      display: none

    .organized__pictures-card
      border-radius: 8px
      margin-top: 24px
      overflow: hidden
      position: relative

      img
        width: 100%

    .organized__pictures-card-data
      bottom: 16px
      color: white
      left: 16px
      position: absolute
      width: calc(100% - 32px)
      z-index: 2

    .organized__pictures-card-data-name
      font-family: 'Nexa'
      font-size: 24px
      font-weight: 700
      font-weight: 700
      line-height: 35px
      margin-bottom: 0

    .organized__pictures-card-data-role
      font-size: 20px
      font-weight: 500
      line-height: 24px
      margin-bottom: 0

@media (min-width: 768px)
  .organized
    .container
      padding-left: 15px
      padding-right: 15px

    .organized__pictures
      display: block
      margin-top: 12px

    .organized__pictures-card
      border-radius: 8px
      margin-top: 24px
      overflow: hidden
      position: relative

    .organized__pictures-card-data
      bottom: 16px
      color: white
      left: 16px
      position: absolute
      width: calc(100% - 32px)
      z-index: 2

    .organized__pictures-card-data-name
      font-size: 24px
      font-weight: 700
      line-height: 35px
      margin-bottom: 0

    .organized__pictures-card-data-role
      font-size: 20px
      font-weight: 500
      line-height: 24px
      margin-bottom: 0