@media (min-width: 320px)
  .price_table
    background-color: $background-grey
    margin-top: 47px
    padding-bottom: 60px
    padding-top: 56px

  .price_table__card
    background-color: #FFFFFF
    border-radius: 16px
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3)
    margin-top: 16px
    width: 100%

  .price_table__card--head
    background: linear-gradient(225deg, #AE8A61 0, #73733C 100%)
    border-top-left-radius: 16px
    border-top-right-radius: 16px
    height: 110px
    position: relative

  .price_table__card--body
    padding: 20px 20px 36px 20px

    img
      bottom: 0
      margin: auto
      position: absolute
      top: 0

    p
      font-size: 16px
      font-weight: 300
      line-height: 26px
      margin: 0

      &.price_table__card--body-price
        color: #25283D
        font-size: 65px
        font-weight: 200
        line-height: 65px
        margin-top: 24px
        text-align: center

  .price_table__card--body-element
    margin-top: 16px

  .price_table__card--head-title
    bottom: 18px
    color: $white
    font-size: 34px
    font-weight: 600
    left: 20px
    line-height: 34px
    margin-bottom: 0
    position: absolute

@media (min-width: 768px)
  .price_table__card
    margin-top: 0