$row_schedule_line_img_path = $base_url '/assets/img/line.svg'
$row_schedule_line_img_mobile_path = $base_url '/assets/img/line_mobile.svg'

@media (min-width: 320px)
  .schedule
    margin-top: 60px

    .container
      padding-left: 40px
      padding-right: 40px

    .schedule__line-container
      height: 60px
      margin-top: 50px

    .schedule__line-date-element-sizer--mobile
      height: 60px
      overflow-x: auto
      overflow-y: hidden
      position: relative
      white-space: nowrap
      -webkit-overflow-scrolling: touch

      &::-webkit-scrollbar
        display: none

      li
        float: left
        vertical-align: top

      &.sticky-schedule-modifier
        background-color: $white
        box-shadow: 0 4px 4px 0 rgba(51, 51, 51, 0.3)
        left: 0
        position: fixed
        top: 76px
        width: 100%
        z-index: 10

        .schedule__line-date-element-sizer--mobile-background
          background-color: $white
          height: 60px

        .line_background
          overflow-x: scroll
          overflow-y: hidden
          position: relative
          white-space: nowrap
          -webkit-overflow-scrolling: touch

          &::-webkit-scrollbar
            display: none

      .line_background
        background-image: url($row_schedule_line_img_mobile_path)
        background-position: center
        background-repeat: no-repeat
        background-repeat: repeat-x
        background-repeat-x: repeat
        background-repeat-y: no-repeat
        height: 60px
        list-style: none
        margin-bottom: 0
        padding-left: 44px
        position: relative

      img
        left: -40px
        position: absolute
        width: 120%

      .schedule__line-date-element
        font-size: 28px
        height: 60px
        margin: 0
        margin-top: 0
        padding-right: 40px
        position: relative
        vertical-align: top
        z-index: 2

        p
          height: 60px
          line-height: 60px
          margin: 0
          margin-bottom: 0
          margin-top: 0

        &.active
          p
            @extend .text--fat--brown
            border-bottom: 4px solid $brown
            margin: 0
            margin-top: 0

    .schedule__line-date-element-sizer
      display: none

@media (min-width: 768px)
  .schedule
    margin-top: 60px

    .container
      padding-left: 15px
      padding-right: 15px

@media (min-width: 1024px)
  .schedule__line-container
    .container
      height: 100%

  .schedule
    .schedule__line-container
      background-image: url($row_schedule_line_img_path)
      background-position: center
      background-repeat: no-repeat
      background-size: contain
      box-shadow: none
      height: 150px
      margin-top: 50px

    .schedule__line-date-element-sizer--mobile
      display: none

    .schedule__line-date-element-sizer
      background: $white
      border-radius: 4px
      box-shadow: $card-shadow
      display: flex
      height: 80px
      margin: auto
      padding: 8px 0
      position: relative
      top: 50%
      // transform: translateY(-50%)
      width: 80%

    .schedule__line-date-element
      cursor: pointer
      flex: 1
      font-family: 'Gibson'
      font-weight: 500
      padding: 6px 0
      text-align: center

      &.active
        color: $brown
        font-weight: 700

      &.separator
        border-right: 1px solid $grey-separator-schedule

  .schedule__tabs
    div[class^='tab__']
      display: none
      margin-top: 40px

      .element
        background-color: $background-grey
        border-bottom: 1px solid $grey-separator-schedule
        padding: 20px 40px

        &:first-child
          border-top-left-radius: 8px
          border-top-right-radius: 8px

        &:last-child
          border-bottom-left-radius: 8px
          border-bottom-right-radius: 8px

        .text--brown
          font-weight: 500
          margin-bottom: 0
          margin-top: 10px

        .text
          margin-bottom: 0
          margin-top: 5px