{% if include.location == 'home' %}
  {% for post in site.tags.event limit: 1 %}
    {% assign current_event = post %}
  {% endfor %}
{% else %}
  {% assign current_event = page %}
{% endif %}

<footer>
  <!-- <div class="footer lazyload-bkg" data-src="{{site.baseurl}}/assets/img/footer/footer_background.jpg"> -->
  <div class="footer" style="background-image: url('{{site.baseurl}}/assets/img/footer/footer_background.jpg')">
    <div class="container">
      <div class="footer__claim">
        <p class="scroll_reveal">APPLY FOR THE NEXT EDITION <br />SEATS ARE LIMITED</p>
        <a class="footer__claim-button scroll_reveal" onclick="open_apply_form()">Apply to attend!</a>
      </div>
      <div class="footer__sponsors">
        <p class="footer__title">MAIN SPONSORS</p>
        <div class="row">
          {% for sponsor in current_event.footer_sponsors %}
            <div class="col-6 col-sm-3 col-md-3 col-lg-2">
              <div class="footer__sponsors-pictures-card">
                <a href="{{sponsor.link}}" target="_blank">
                  <img class="lazyload" data-src="{{sponsor.image | replace:'http://localhost:4000', site.url}}" alt="">
                </a>
              </div>
            </div>
          {% endfor %}
          {% for sponsor in site.data.main_sponsors %}
            <div class="col-6 col-sm-3 col-md-3 col-lg-2">
              <div class="footer__sponsors-pictures-card">
                <a href="{{sponsor.link}}" target="_blank">
                  <img class="lazyload" data-src="{{sponsor.image | replace:'http://localhost:4000', site.url}}" alt="">
                </a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="footer__informations" id="contacts">
        <div class="row">
          <div class="col-sm-4">
            <p class="footer__title">GOT A QUESTION?</p>
            <p class="footer__text">
              Phone.
              <a href="tel:{{site.data.organization_data.phone_number}}">{{site.data.organization_data.phone_number}}</a>
              <br> Mail.
              <a href="mailto:{{site.data.organization_data.mail}}">{{site.data.organization_data.mail}}</a>
              <br> Location.
              <!-- <a href="mailto:{{site.data.organization_data.location}}">{{site.data.organization_data.location}}</a>-->
              <a href="maps:{{site.data.organization_data.location}}">{{site.data.organization_data.location}}</a>
              <br>
              <a href="maps:{{site.data.organization_data.address}}">{{site.data.organization_data.address}}</a>
            </p>
          </div>
          <div class="col-sm-4">
            <p class="footer__title">USEFUL LINKS</p>
            <p class="footer__text">
              {% for link in site.data.useful_links %}
              <a href="{{link.address}}">{{link.label}}</a>
              <br> {% endfor %}
            </p>
          </div>
        </div>
      </div>
      <div class="footer__credits">
        <div class="row">
          <div class="col-sm-8">
            <p class="footer__text--small">© {{ 'now' | date: "%Y" }} Venture Retreat - <a href="https://www.iubenda.com/privacy-policy/226615">Privacy and Cookie Policy</a></p>
          </div>
          <div class="col-sm-4">
            <a href="https://belka.us/en" target="_blank">
              <p class="footer__text--small">Made in
                <img src="{{'/assets/img/logo_belka.svg' | relative_url }}" alt="">
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>