<div class="header__{{include.type}}">
  {% if include.type == "home" %}
  <div class="header__home-content">
    <div class="container">
      <h1 class="header__home-content--title-big">European Venture Retreat</h1>
      <h3 class="header__home-content--title-small">A community of 60 entrepreneurs and investors surrounded by the Dolomites</h3>
      <h2 class="header__home-content--title-medium">WHEN</h2>
      <h2 class="header__home-content--title-medium gibson">September 14-17, 2017</h2>
      <a href="" class="header__home-content--button">Apply to attend</a>
    </div>
  </div>
  {% endif %}
  <div class="img-overlay"></div>
  <img class="header__mountain-profile" src="{{'/assets/img/mountain_profile_1.svg' | relative_url }}" alt="">
</div>