<nav class="top_navbar">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a class="top_navbar--go-back" href="{{ site.baseurl }}/">
          <img class="white_arrow" src="{{'/assets/img/icons/back_arrow.svg' | relative_url }}" alt="">
          <img class="black_arrow" src="{{'/assets/img/icons/back_arrow_negative.svg' | relative_url }}" alt="">
          <p>GO BACK</p>
        </a>
      </div>
    </div>
  </div>
</nav>

<nav class="top_navbar--mobile">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a class="top_navbar--go-back" href="{{ site.baseurl }}/">
          <img class="white_arrow" src="{{'/assets/img/icons/back_arrow.svg' | relative_url }}" alt="">
          <img class="black_arrow" src="{{'/assets/img/icons/back_arrow_negative.svg' | relative_url }}" alt="">
          <p>GO BACK</p>
        </a>
      </div>
    </div>
  </div>
</nav>