<nav class="top_navbar">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="top_navbar__logo">
          <a class="top_navbar--go-back" href="{{ site.baseurl }}/">
            <!-- <img src="{{'/assets/img/icons/logo/logo.png' | relative_url }}" alt=""> -->
            GO BACK
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<nav class="top_navbar--mobile">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="top_navbar__logo">
          <a class="top_navbar--go-back" href="{{ site.baseurl }}/">
            GO BACK
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>