<nav class="top_navbar">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a class="top_navbar--go-back" href="{{ site.baseurl }}/">
          {% include components/back_arrow.html %}
          <p>GO BACK</p>
        </a>
      </div>
    </div>
  </div>
</nav>

<nav class="top_navbar--mobile">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a class="top_navbar--go-back" href="{{ site.baseurl }}/">
          {% include components/back_arrow.html %}
          <p>GO BACK</p>
        </a>
      </div>
    </div>
  </div>
</nav>