<nav class="top_navbar">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <div class="top_navbar__logo">
          <a href="{{ site.baseurl }}/">
            <img class="white_logo" src="{{'/assets/img/icons/logo/logo.png' | relative_url }}" alt="">
            <img class="black_logo" src="{{'/assets/img/icons/logo/logo_negative.png' | relative_url }}" alt="">
          </a>
        </div>
      </div>
      <div class="col-10">
        <ul class="top_navbar__menu">
          <li>
            <a href="#about">About</a>
          </li>
          <li>
            <a href="#schedule">Schedule</a>
          </li>
          <li>
            <a href="#past_editions">Past editions</a>
          </li>
          <li>
            <a href="#contacts">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<nav class="top_navbar--mobile">
  <div class="container">
    <div class="row">
      <div class="col-5">
        <div class="top_navbar__logo">
          <a href="{{ site.baseurl }}/">
            <img class="white_logo" src="{{'/assets/img/icons/logo/logo.png' | relative_url }}" alt="">
            <img class="black_logo" src="{{'/assets/img/icons/logo/logo_negative.png' | relative_url }}" alt="">
          </a>
        </div>
      </div>
      <div class="col-7">
        <div class="top_navbar__menu">
          <a class="open_menu">
            MENU
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="top_navbar--mobile-content">
  <ul class="top_navbar__menu-list">
    <li>
      <a href="#about">About</a>
    </li>
    <li>
      <a href="#schedule">Schedule</a>
    </li>
    <li>
      <a href="#past_editions">Past editions</a>
    </li>
    <li>
      <a href="#contacts">Contact</a>
    </li>
  </ul>
</div>