<link rel="stylesheet" href="https://unpkg.com/bootstrap@4.0.0-beta.2/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" />
<!-- Custom css -->
<link rel="stylesheet" href="{{'/css/main.css' | relative_url }}">

<script src="https://unpkg.com/jquery@3.2.1/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="https://unpkg.com/bootstrap@4.0.0-beta.2/dist/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
<script src="https://unpkg.com/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="https://unpkg.com/lazysizes@4.0.1/lazysizes.min.js"></script>
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

<!-- Custom js -->
<script src="{{'/js/main.js' | relative_url }}"></script>
<script src="{{'/js/apply_form.js' | relative_url }}"></script>

<script>
  paceOptions = {
    // Configuration goes here. Example:
    elements: false,
    restartOnPushState: false,
    restartOnRequestAfter: false
  }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/themes/black/pace-theme-corner-indicator.css"> -->