@media (min-width: 320px)
  .carousel__event
    margin-top: 60px
    overflow-x: hidden
    width: 100%

  .carousel__event--row
    position: relative

  .carousel__event--element
    background-position: center
    background-size: cover
    float: left
    height: 200px
    width: 50%

    a
      display: block
      height: 100%
      width: 100%

@media (min-width: 768px)
  .carousel__event--element
    width: 25%
