.apply_form
  background-color: rgba(37, 40, 61, 0.26)
  height: 100vh
  left: 0
  position: fixed
  top: 0
  width: 100vw
  z-index: 12

  .content
    background-color: $white
    float: right
    height: 100vh
    padding: 32px 80px 32px 32px
    width: 50vw

    input
      background-color: $background-grey
      border: 0
      border-radius: 8px
      height: 72px
      margin-top: 20px
      outline: none
      padding: 0 20px
      width: 100%

      &:focus
        background-color: $white
        border: 2px solid #AE8A61
        // outline: none
        box-shadow: 0 0 0 4px rgba(174, 138, 97, 0.2);
