@import 'settings'
@import 'colors'

$footer_background_img_path = $base_url '/assets/img/footer/footer_background.jpg'

@media (min-width: 320px)
  .footer
    background-color: #040404
    background-image: url($footer_background_img_path)
    background-position: top center
    background-repeat: no-repeat
    background-size: auto 1350px
    height: auto
    margin-top: -450px
    position: relative

    .container
      padding-left: 40px
      padding-right: 40px

  .footer__claim
    padding-bottom: 300px
    padding-top: 600px
    text-align: center

    p
      color: $white
      font-family: 'Nexa'
      font-size: 18px
      font-weight: 900
      line-height: 26px

  .footer__claim-button
    background-color: $brown
    border-radius: 8px
    box-shadow: 0 2px 8px 0 $black-default
    color: $white
    display: block
    font-size: 26px
    font-weight: 600
    height: 70px
    line-height: 70px
    margin: 0 auto
    text-align: center
    width: 264px

  .footer__title
    color: $white
    font-size: 24px
    font-weight: 900

  .footer__text
    color: $white
    font-size: 18px
    font-weight: 300
    line-height: 40px

    a
      color: $white
      line-height: 40px

      &:hover
        color: $white

  .footer__text--small
    @extend .footer__text
    font-size: 16px
    font-weight: 500

    img
      vertical-align: baseline

  .footer__sponsors-pictures-card
    border-radius: 8px
    overflow: hidden
    position: relative

    img
      display: table
      margin: 0 auto
      width: 100%

@media (min-width: 768px)
  .footer
    background-size: cover
    height: auto
    margin-top: -300px

    .container
      padding-left: 15px
      padding-right: 15px

  .footer__claim
    padding-bottom: 500px
    padding-top: 650px

    p
      font-size: 48px
      font-weight: 900
      line-height: 64px
      text-align: center

  .footer__claim-button
    display: block
    font-size: 32px
    font-weight: 600
    height: 80px
    line-height: 80px
    margin: 32px auto
    text-align: center
    width: 304px

    &:hover
      color: $white

  .footer__informations
    margin-top: 40px

@media (min-width: 1024px)
  .footer
    background-color: #040404
    height: 1800px
    margin-top: -300px

  .footer__claim
    padding-bottom: 400px
    padding-top: 650px

    p
      font-size: 48px
      font-weight: 900
      line-height: 64px
      text-align: center

@media (min-width: 1300px)
  .footer
    height: auto
    margin-top: -400px

  .footer__claim
    padding-bottom: 400px
    padding-top: 900px

  .footer__credits
    margin-top: 48px

@media (min-width: 1800px)
  .footer__claim
    padding-bottom: 600px
    padding-top: 900px
  
@media (min-width: 2000px)
  .footer
    background-size: cover
    height: auto
    margin-top: -600px
  .footer__claim
    padding-bottom: 60vh
    padding-top: 90vh

@media (min-width: 2500px)
  .footer__claim
    padding-bottom: 65vh
    padding-top: 100vh