@import 'colors'
@import 'variables'
@import 'fonts'

.container__content
  background-color: white
  margin-top: 50px
  padding: 24px

.img-overlay
  background: $img-gradient
  height: 100%
  left: 0
  position: absolute
  top: 0
  width: 100%

.title--first
  color: $green
  font-family: 'Nexa', sans-serif
  font-size: 48px
  font-style: normal
  font-weight: bolder

.title--second
  color: $brown
  font-family: 'Gibson', sans-serif
  font-size: 26px
  font-weight: 500

.title--third
  color: $brown
  font-family: 'Gibson', sans-serif
  font-size: 18px
  font-weight: 500

.text
  color: $black-default
  font-size: 22px
  margin-top: 24px

.general__spacer
  height: 46px

.quotes
  color: $brown
  font-family: 'Gibson', sans-serif
  font-size: 26px
  font-weight: 500