@import 'colors'
@import 'variables'
@import 'fonts'

body
  text-rendering: optimizeLegibility
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased

.container__content
  background-color: white
  margin-top: 50px
  padding: 24px

.img-overlay
  background: $img-gradient
  height: 100%
  left: 0
  position: absolute
  top: 0
  width: 100%

.title--first
  color: $green
  font-family: 'Nexa', sans-serif
  font-size: 48px
  font-style: normal
  font-weight: bolder

.title--second
  color: $brown
  font-family: 'Gibson', sans-serif
  font-size: 26px
  font-weight: 500
  margin-top: 40px

.title--third
  color: $brown
  font-family: 'Gibson', sans-serif
  font-size: 20px
  font-weight: 500
  letter-spacing: 1px

.title--first--negative
  @extend .title--first
  color: $white

.title--second--negative
  @extend .title--second
  color: $white

.title--third--negative
  @extend .title--third
  color: $white

.text
  color: $black-default
  font-family: 'Gibson', sans-serif
  font-size: 20px
  font-weight: 300
  margin-top: 40px

.text--small
  @extend .text
  font-size: 16px

.general__spacer
  height: 46px

.quotes
  margin-top: 35px

.quotes__text
  color: $brown
  font-family: 'Gibson', sans-serif
  font-size: 26px
  font-weight: 500
  margin-bottom: 0

.quotes__img-container
  height: 25px
  position: relative

.quotes__up
  left: -28px
  position: absolute

.quotes__down
  position: absolute
  right: 0

/*
   Cards
*/
.card__philosophies
  background-color: $white
  border-radius: 8px
  box-shadow: $card-shadow
  height: 268px
  margin-top: 24px

  .img-overlay
    background-image: $card-image-gradient

.card__header
  background-position: center
  background-size: cover
  border-top-left-radius: 8px
  border-top-right-radius: 8px
  height: 50% - 8px
  position: relative
  width: 100%

  .img-overlay
    border-top-left-radius: 8px
    border-top-right-radius: 8px

.card__header--title
  bottom: 16px
  color: $white
  font-family: 'Gibson', sans-serif
  margin-bottom: 0
  padding: 0 16px
  position: absolute
  z-index: 2

.card__header--subtitle
  bottom: 16px
  color: $white
  font-family: 'Gibson', sans-serif
  font-weight: 300
  margin-bottom: 0
  padding: 0 16px
  position: absolute
  z-index: 2

.card__separator
  background-image: linear-gradient(-225deg, #AE8A61 0, #73733C 100%)
  height: 8px
  width: 100%

.card__body
  padding: 16px 16px 22px 16px
  position: relative

  p
    margin-bottom: 0
    margin-top: 0

.card__location
  @extend .card__philosophies
  height: 500px


