@import 'colors'

html
  background-color: $red

.container,
body
  background: transparent
  background-color: transparent

.container__content
  background-color: white
  margin-top: 50px
  padding: 24px

  h1
    text-align: center

  p
    margin-top: 50px
    text-align: center
