@import 'settings'
@import 'colors'

.header__home
  background-image: url($base_url '/assets/img/mountain-placeholder.jpg')
  background-position: center
  background-size: cover
  height: 80vh

.header__page
  height: 50vh
