@import 'settings'
@import 'variables'
@import 'colors'

$row_background_img_path = $base_url '/assets/img/cartography_background.png'

.our-philosophy
  background-image: url($row_background_img_path)
  background-position: top
  background-size: cover
  margin-top: -60px
  min-height: 200px
  padding-bottom: 250px
  padding-top: 250px

.hike
  height: 100px
  position: relative

  .container
    position: relative

  .title--first--negative
    left: 15px
    position: absolute
    top: -144px
    z-index: 2

.hike__card
  background: $white
  border-radius: 8px
  box-shadow: $card-shadow
  height: 200px
  position: absolute
  text-align: center
  top: -100px
  width: 100%

  .title--second
    font-size: 2vw
    margin-bottom: 0
    margin-top: 8px

  .text
    font-weight: 500
    margin-top: 4px

  img
    display: table
    margin: 35px auto 0 auto

.location
  margin-top: 100px

  .card__header
    height: 56%

  .card__body
    text-align: center

  .card__header--title
    bottom: 50px
    font-size: 26px
    font-weight: 500
    letter-spacing: 1px

  .title--second
    font-size: 2vw
    margin-bottom: 0
    margin-top: 8px

.location__column-separator
  border-right: 1px solid #EAEAEA
  display: block
  height: 100%

.location__carateristics
  img
    display: table
    margin: 0 auto

.carousel__home
  margin-top: 150px
  overflow-x: hidden
  position: relative
  width: 100%

.carousel__home__mountain-profile
  bottom: 0
  left: 0
  position: absolute
  width: 101%
  z-index: 2

.schedule
  margin-top: 60px

.speakers
  margin-top: 60px

.attendees
  margin-top: 60px

.organized
  margin-top: 60px

@media (min-width: 1600px)
  .our-philosophy
    padding-top: 400px

  .hike__card,
  .location
    .title--second
      font-size: 1.6vw