@import 'settings'

$row_background_img_path = $base_url '/assets/img/cartography_background.png'


.our-philosophy
  background-image: url($row_background_img_path)
  min-height: 200px
  background-size: cover
  background-position: top
  margin-top: -60px