@import 'settings'
@import 'variables'
@import 'colors'

$row_background_img_path = $base_url '/assets/img/cartography_background.png'
$row_schedule_line_img_path = $base_url '/assets/img/line.svg'

@media (min-width: 320px)
  .our-philosophy
    background-image: url($row_background_img_path)
    background-size: cover
    padding-bottom: 250px

    .title--third--negative
      padding-top: 150px

  .our-philosophy__mobile-leteral-scroll
    overflow-x: auto
    overflow-y: hidden
    white-space: nowrap

    &::-webkit-scrollbar
      background: transparent
      width: 0

    &::-webkit-scrollbar-thumb
      background: transparent

  .our-philosophy__mobile-leteral-scroll-content
    padding-left: 15px

    .card__philosophies
      display: inline-block
      margin-right: 20px
      vertical-align: bottom
      width: 80vw

      .card__body
        white-space: normal

  .hike
    height: 400px
    position: relative

    .container
      position: relative

    .title--first--negative
      left: 50px
      position: absolute
      top: -126px
      z-index: 2

  .hike__card
    background: $white
    border-radius: 8px
    box-shadow: $card-shadow
    height: 520px
    left: 10%
    position: absolute
    text-align: center
    top: -100px
    width: 80%

    .title--second
      font-size: 16px
      margin-bottom: 0
      margin-top: 8px

    .text
      font-weight: 500
      margin-top: 4px

    img
      display: table
      margin: 35px auto 0 auto

  .location
    margin-top: 100px

    .card__header
      height: 56%

    .card__body
      padding: 5px 15px
      text-align: center

    .card__header--title
      bottom: 50px
      font-size: 26px
      font-weight: 500
      letter-spacing: 1px

    .title--second
      font-size: 2vw
      margin-bottom: 0
      margin-top: 8px

  .location__column-separator
    border-right: 1px solid #EAEAEA
    display: block
    height: 100%
    padding-bottom: 22px

  .location__carateristics
    img
      display: table
      margin: 0 auto
      margin-top: 25px

  .carousel__home
    margin-top: 150px
    overflow-x: hidden
    position: relative
    width: 100%

  .carousel__home__mountain-profile
    bottom: 0
    left: -1000px
    position: absolute
    width: 500%
    z-index: 2

  .schedule
    margin-top: 60px

    .schedule__line-container
      background-image: url($row_schedule_line_img_path)
      background-position: center
      background-size: cover
      height: 220px
      margin-top: 50px

  .speakers
    margin-top: 60px

  .attendees
    margin-top: 60px

  .organized
    margin-top: 60px

@media (min-width: 768px)
  .our-philosophy
    .title--third--negative
      left: 15px
      padding-top: 300px

  .hike
    height: 100px

    .title--first--negative
      left: 15px

  .hike__card
    height: 200px
    left: 15px
    width: calc(100% - 30px)

  .card__location
    height: 450px

  .carousel__home__mountain-profile
    bottom: 0
    left: 0
    width: 101%
    z-index: 2

@media (min-width: 1024px)
  .our-philosophy
    background-position: top
    margin-top: -60px
    padding-bottom: 250px
    padding-top: 250px

    .title--third--negative
      padding-top: 0

  .hike
    .title--first--negative
      top: -144px

  .hike__card,
  .location
    .title--second
      font-size: 1.6vw

  .card__location
    height: 490px

  .schedule__line-container
    .container
      height: 100%

  .schedule
    .schedule__line-date-element-sizer
      background: $white
      border-radius: 4px
      box-shadow: $card-shadow
      height: 80px
      margin: auto
      padding: 8px 0
      position: relative
      top: 50%
      transform: translateY(-50%)
      width: 80%

    .schedule__line-date-element
      cursor: pointer
      flex: 1
      font-family: 'Gibson'
      font-weight: 500
      padding: 6px 0
      text-align: center

      &.active
        color: $brown
        font-weight: 700

      &.separator
        border-right: 1px solid $grey-separator

  .schedule__tabs
    div[class^='tab__']
      display: none
      margin-top: 40px

      .row
        background-color: $background-grey
        border-bottom: 1px solid $grey-separator
        padding: 20px 40px

        &:first-child
          border-top-left-radius: 8px
          border-top-right-radius: 8px

        &:last-child
          border-bottom-left-radius: 8px
          border-bottom-right-radius: 8px

        .text--brown
          font-weight: 500
          margin-bottom: 0
          margin-top: 10px

        .text
          margin-bottom: 0
          margin-top: 5px

@media (min-width: 1600px)
  .our-philosophy
    padding-top: 400px

  .hike__card,
  .location
    .title--second
      font-size: 1.3vw