@import 'colors'

$map_path = $base_url '/assets/img/map_path.svg'

@media (min-width: 320px)
  .pace
    background-color: $green
    background-image: url($map_path)
    background-position: center
    background-repeat: no-repeat
    background-size: contain
    border-radius: 10px
    bottom: 0
    box-sizing: border-box
    height: 50px
    left: 0
    margin: auto
    overflow: hidden
    pointer-events: none
    position: fixed
    right: 0
    top: 12px
    transition: all 2s ease
    user-select: none
    width: 200px
    z-index: 2000

  .pace .pace-progress
    background: transparent
    background-clip: padding-box
    border-radius: 2px
    box-shadow: 120px 0 $green, 220px 0 $green
    box-sizing: border-box
    color: $red
    display: block
    font-family: sans-serif
    font-size: 16px
    font-weight: bold
    height: 100px
    line-height: 60px
    position: absolute
    right: 100%
    top: 0
    transform: translate3d(0, 0, 0)
    width: 400px
    -moz-background-clip: padding
    -moz-border-radius: 2px
    -moz-box-sizing: border-box
    -ms-box-shadow: 120px 0 $green, 220px 0 $green
    -ms-box-sizing: border-box
    -o-box-sizing: border-box
    -webkit-background-clip: padding-box
    -webkit-border-radius: 2px
    -webkit-box-shadow: 120px 0 $green, 220px 0 $green
    -webkit-box-sizing: border-box
    -webkit-transform: translate3d(0, 0, 0)

  .pace .pace-activity
    border-radius: 8px
    height: 50px
    position: absolute
    width: 100%
    z-index: 2001

  .pace.pace-inactive
    opacity: 0

@media (min-width: 768px)
  .pace
    height: 100px
    width: 400px

  .pace .pace-progress
    box-shadow: 240px 0 $green, 440px 0 $green
    height: 100px
    width: 400px
    -ms-box-shadow: 240px 0 $green, 440px 0 $green
    -webkit-box-shadow: 240px 0 $green, 440px 0 $green
