@import 'settings'

$page_overlay_mountains = $base_url '/assets/img/mountain_profile_2.svg'

@media (min-width: 320px)
  .page_overlay
    background-color: $green
    height: 100vh
    left: 0
    position: fixed
    top: 0
    width: 100vw
    z-index: 12

    .white_logo
      display: table
      margin: 0 auto
      margin-top: 35vh
      width: 15vw

    &.animation
      animation: overlayCloseAnimation 1s forwards
      -webkit-animation: overlayCloseAnimation 1s forwards

      .white_logo
        display: none

    &.hide
      display: none

    .loadbar__container
      background: $white
      height: 20px
      margin: 0 auto
      margin-top: 5vh
      position: relative
      width: 200px

      .loadbar
        animation: flicker 5s infinite
        background: $red
        height: 100%
        left: 0
        overflow: hidden
        position: absolute
        top: 0
        width: 0

  .page_overlay__white_space
    background: $white
    bottom: 0
    height: 20vh
    position: absolute
    width: 100%

    &.animation
      animation: whiteSpaceAnimation 3s forwards
      -webkit-animation: whiteSpaceAnimation 3s forwards

    &:before
      background-image: url($page_overlay_mountains)
      background-repeat: no-repeat
      background-size: cover
      content: ' '
      display: block
      height: 60px
      left: -20px
      position: absolute
      top: -58px
      width: 150%

    &:after
      background-image: url($page_overlay_mountains)
      background-repeat: no-repeat
      background-size: cover
      bottom: -58px
      content: ' '
      display: block
      height: 60px
      left: -20px
      position: absolute
      transform: rotate(180deg)
      width: 150%
      -webkit-transform: rotate(180deg)

@media (min-width: 768px)
  .page_overlay__white_space
    &:before
      left: -50px
      width: 500%

@media (min-width: 1024px)
  .page_overlay__white_space
    &:before
      left: -50px
      width: 250%

@keyframes whiteSpaceAnimation
  0%
    height: 20vh

  33%
    height: 30vh

  66%
    height: 20vh

  100%
    height: 100vh

@keyframes overlayCloseAnimation
  0%
    height: 100vh

  100%
    height: 0
    top: -100px
