@import 'settings'
@import 'colors'

$negative_logo_path = $base_url '/assets/img/icons/logo/logo_negative.png'

.top_navbar
  background: transparent
  background-color: transparent
  color: $white
  height: 116px
  line-height: 116px
  position: fixed
  width: 100%
  z-index: 10

  &.negative
    background: $white
    background-color: $white

    .top_navbar__logo
      img
        content: url($negative_logo_path)
        width: 136px

    .top_navbar__menu
      li
        a
          color: $black-default

.top_navbar__menu
  float: right
  list-style: none
  padding-left: 0

  li
    float: left
    font-size: 24px
    padding-left: 50px
    a
      color: $white
