<div class="apply_form">
  <div class="content">
    <form>
      <div class="apply_form--close-container">
        <a onclick="close_apply_form()">CLOSE FORM</a>
      </div>
      <p class="title--second--big">1. What’s your full name?</p>
      <input type="text">

      <p class="title--second--big">2. What's your LinkedIn profile (or other URL where we can learn more about you)?</p>
      <input type="text">

      <p class="title--second--big">3. Could you share your email address with us? So we can get in touch should we need to send you an invite!</p>
      <input type="email">
      <p class="apply_form__error_message mail"></p>

      <button type="submit" class="apply_form__register-button">Register!</button>
    </form>
  </div>
</div>