<div class="card__{{include.type}}">
  <div class="animated-background--overlay__{{include.type}}"></div>
  {% if include.type == "philosophies" %}
  <div class="card__header lazyload-bkg" data-src="{{site.baseurl}}/assets/img/pholosophies_cards/{{include.img}}">
    <p class="card__header--title">{{include.title}}</p>
  {% elsif include.type == "location" %}
  <div class="card__header lazyload-bkg" data-src="{{site.baseurl}}/assets/img/location/{{include.img}}">
    <p class="card__header--title">{{include.title}}</p>
    <p class="card__header--subtitle">{{include.subtitle}}</p>
  {% endif %}
    <div class="img-overlay"></div>
  </div>
  <div class="card__separator"></div>
  <div class="card__body">
    {% if include.type == "philosophies" %}
      <p class="text--small">{{include.text}}</p>
    {% elsif include.type == "location" %}
      <div class="row location__carateristics">
        <div class="col-4 location__column-separator">
          <img src="{{"/assets/img/icons/location_card/altitude.svg" | relative_url }}" alt="">
          <h2 class="title--second">
            ALTITUDE
          </h2>
          <p class="text">
            {{include.altitude}}
          </p>
        </div>
        <div class="col-4 location__column-separator">
          <img src="{{"/assets/img/icons/location_card/cooking.svg" | relative_url }}" alt="">
          <h2 class="title--second">
            COOKING
          </h2>
          <p class="text">
            {{include.cooking}}
          </p>
        </div>
        <div class="col-4">
          <img src="{{"/assets/img/icons/location_card/beds.svg" | relative_url }}" alt="">
          <h2 class="title--second">
            BEDS
          </h2>
          <p class="text">
            {{include.beds}}
          </p>
        </div>
      </div>
    {% endif %}
  </div>
</div>