<div class="container">
  <div class="hike__card">
    <div class="row">
      <div class="col-md-1"></div>
      {% for p in site.data.hikes %}
      <div class="col-6 col-sm-6 col-md-2 col-lg-2">
        <div class="row">
          <div class="col-12">
            <img src="{{'/assets/img/icons/hike/' | relative_url }}{{p.icon}}" alt=""> 
          </div>
          <div class="col-12">
            <h2 class="title--second">
              {{p.title}}
            </h2>
          </div>
          <div class="col-12">
            <p class="text">
              {{p.text}}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="col-1"></div>
    </div>
  </div>
</div>
