---
layout: event
---

{% assign past_events = site.tags.event %}

<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ page.title }}</title>
</head>

<body>
  {% include navbar_internal.html %}

  {% include header.html type="event" %}

  <div class="location">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 scroll_reveal">
          {% include components/headings.html big="HOW WAS IT?" small="A weekend to unplug and connect." %} {% for words in page.how_was_it
          %}
          <p class="text">
            {{ words }}
          </p>
          {% endfor %}
        </div>
        <div class="col-12 col-sm-6 hidden-xs scroll_reveal">
          {% include components/card.html type="location" title=page.title subtitle=page.location img=page.image altitude=page.caratteristics.altitude
          cooking=page.caratteristics.cooking beds=page.caratteristics.beds %}
        </div>
      </div>
    </div>
  </div>

  <div class="carousel__event scroll_reveal">
    <div class="carousel__event--row">
      {% for image in page.gallery-small.image %}
        {% assign prev_i = forloop.index | minus: 1 %}
        <div class="carousel__event--element" style="background-image: url('{{ image }}')">
            <a data-fancybox="gallery" href="{{page.gallery-big.image[prev_i]}}" >
            </a>
        </div>
      {% endfor %}
    </div>
    <img class="carousel__home__mountain-profile" src="{{'/assets/img/mountain_profile_2.svg' | relative_url }}" alt="">
  </div>

  <div class="speakers">
    <div class="container">
      <div class="row">
        <div class="col-12 scroll_reveal">
          {% include components/headings.html big="SPEAKERS" small="Amazing speakers for an amazing event" %}
        </div>
        <div class="col-12 speakers__pictures">
          <div class="row">
            {% for speaker in page.speakers %}
            <div class="col-sm-4 col-md-4 col-lg-3 scroll_reveal">
              <div class="speakers__pictures-card aspect_ratio--speakers">
                <img class="lazyload" data-src="{{'/assets/img/speakers/' | relative_url }}{{speaker.pic}}" alt="">
                <div class="speakers__pictures-card-data">
                  <p class="speakers__pictures-card-data-name">{{speaker.name}}</p>
                  <p class="speakers__pictures-card-data-role">{{speaker.role}}</p>
                </div>
                <div class="img-overlay"></div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="speakers__pictures--mobile scroll_reveal">
      {% for speaker in page.speakers %}
      <div class="speakers__pictures-card aspect_ratio--speakers">
        <img class="lazyload" data-src="{{'/assets/img/speakers/' | relative_url }}{{speaker.pic}}" alt="">
        <div class="speakers__pictures-card-data">
          <p class="speakers__pictures-card-data-name">{{speaker.name}}</p>
          <p class="speakers__pictures-card-data-role">{{speaker.role}}</p>
        </div>
        <div class="img-overlay"></div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="what-happened scroll_reveal">
    <video id="event_video" width="100%" height="auto" muted>
      <source src="{{page.video}}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>

  <div class="attendees">
    <div class="container">
      <div class="row">
        <div class="col-12 scroll_reveal">
          {% include components/headings.html big="THE ATTENDEES" small="Amazing attendees" %}
        </div>
        <div class="col-12">
          <div class="row">
            {% for a in page.attendees %}
            <div class="col-6 col-sm-4 col-md-4 col-lg-3 scroll_reveal">
              <div class="attendees__pictures-card aspect_ratio--attendees">
                <img class="lazyload" data-src="{{'/assets/img/attendees/' | relative_url }}{{a.logo}}" alt="">
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="past-editions">
    <div class="container">
      <div class="row">
        <div class="col-12 scroll_reveal">
          {% include components/headings.html big="PAST EDITIONS" small="Overview of previous editions" %}
        </div>
        <div class="col-12 past-editions__pictures">
          <div class="row">
            {% for o in past_events %} {% unless forloop.first %}
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 scroll_reveal">
              <a href="{{site.baseurl}}{{ o.url }}">
                <div class="past-editions__pictures-card aspect_ratio--past_editions">
                  <img class="lazyload" data-src="{{'/assets/img/edition_cards/' | relative_url }}{{o.past_edition.pic}}" alt="">
                  <div class="past-editions__pictures-card-data">
                    <p class="past-editions__pictures-card-data-name">{{o.title}}</p>
                    <p class="past-editions__pictures-card-data-role">{{o.past_edition.period}}</p>
                  </div>
                  <div class="img-overlay"></div>
                </div>
              </a>
            </div>
            {% endunless %} {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="past-editions__pictures--mobile scroll_reveal">
      {% for o in past_events %} {% unless forloop.first %}
      <a href="{{site.baseurl}}{{ o.url }}">
        <div class="past-editions__pictures-card aspect_ratio--past_editions">
          <img class="lazyload" data-src="{{'/assets/img/edition_cards/' | relative_url }}{{o.past_edition.pic}}" alt="">
          <div class="past-editions__pictures-card-data">
            <p class="past-editions__pictures-card-data-name">{{o.title}}</p>
            <p class="past-editions__pictures-card-data-role">{{o.past_edition.period}}</p>
          </div>
          <div class="img-overlay"></div>
        </div>
      </a>
      {% endunless %} {% endfor %}
    </div>
  </div>

  {% include components/page_overlay.html %}
  {% include components/apply_form.html %}
  {% include footer.html %}
  {% include scripts.html %}
</body>

</html>